In [1]:
import logging
from transformers import BertForMaskedLM, BertTokenizerFast, TrainingArguments, Trainer, \
    DataCollatorForLanguageModeling, IntervalStrategy

In [14]:
import torch

In [2]:
import pandas as pd

In [16]:
tokenizer = BertTokenizerFast.from_pretrained('bert-base-multilingual-cased')

In [33]:
facts1 = [
    'Median is boring',
    'Median is very very cool but also boring'
]

facts2 = [
    'I have never heard of such',
    'Why are you running?'
]


facts3 = [
    'kkkI have never heard of such q q',
    'kkkWhy are you runningq q ?'
]

In [38]:
fact1 = tokenizer(facts1, return_tensors='pt', padding='max_length', max_length=20)
fact2 = tokenizer(facts2, return_tensors='pt', padding='max_length', max_length=20)
fact3 = tokenizer(facts3, return_tensors='pt', padding='max_length', max_length=20)

In [46]:
test = BatchEncoding()

NameError: name 'BatchEncoding' is not defined

In [48]:
a = [1,2,3,4,5,6,7,8,9]
len(a)

9

In [49]:
a[:9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
fact3

{'input_ids': tensor([[   101,    179,  20024,  11281,  10529,  14794,  32240,  10108,  11049,
            185,    185,    102,      0,      0,      0,      0,      0,      0,
              0,      0],
        [   101,    179,  20024, 106311,  10157,  10301,  13028,  18020,  11703,
            185,    136,    102,      0,      0,      0,      0,      0,      0,
              0,      0]]), 'token_type_ids': tensor([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]), 'attention_mask': tensor([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0]])}

In [40]:
t = [fact1['input_ids'], fact2['input_ids'], fact3['input_ids']]

In [45]:
fact1['input_ids'] = torch.cat(t)
fact1

{'input_ids': tensor([[   101,  13341,  10115,  10124,  27728,  10230,    102,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,      0,
              0,      0],
        [   101,  13341,  10115,  10124,  12558,  12558,  67420,  10473,  10379,
          27728,  10230,    102,      0,      0,      0,      0,      0,      0,
              0,      0],
        [   101,    146,  10529,  14794,  32240,  10108,  11049,    102,      0,
              0,      0,      0,      0,      0,      0,      0,      0,      0,
              0,      0],
        [   101,  24781,  10301,  13028,  18020,    136,    102,      0,      0,
              0,      0,      0,      0,      0,      0,      0,      0,      0,
              0,      0],
        [   101,    179,  20024,  11281,  10529,  14794,  32240,  10108,  11049,
            185,    185,    102,      0,      0,      0,      0,      0,      0,
              0,      0],
        [   101,    179,  20024, 106311,  10157,  10301,  13028,  18020,  11703,
            185,    136,    102,      0,      0,      0,      0,      0,      0,
              0,      0]]), 'token_type_ids': tensor([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]), 'attention_mask': tensor([[1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0]])}

In [25]:
fact1

{'input_ids': tensor([[  101, 13341, 10115, 10124, 27728, 10230,   102,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,     0],
        [  101, 13341, 10115, 10124, 12558, 12558, 67420, 10473, 10379, 27728,
         10230,   102,     0,     0,     0,     0,     0,     0,     0,     0]]), 'token_type_ids': tensor([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]), 'attention_mask': tensor([[1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0]])}

In [10]:
for key in fact1:
    fact1[key] += fact2[key]

fact1

RuntimeError: The size of tensor a (12) must match the size of tensor b (8) at non-singleton dimension 1

In [6]:
a = set([1,2,3,4])
b = set([5,2,5,4])

In [14]:
t = [1,2,3,4]

In [16]:
t[1:-1]

[2, 3]

In [13]:
a.union(b)

{1, 2, 3, 4, 5}

In [15]:
path = '../data/reasoning/equivalence/equivalence_en_ru.csv'
relations = pd.read_csv(path)
relations

,id,en,ru,en_alias,ru_alias
0,P457,foundational text,основополагающий текст,establishing document,де-юре на основе документа
1,P532,port of registry,порт приписки,home port,NaN
2,P740,location of formation,место создания,originates from,место формирования
3,P1817,addressee,получатель,addressed to,адресат
4,P58,screenwriter,сценарист,scriptwriter,сценаристы
...,...,...,...,...,...
698,P31,instance of,это частный случай понятия,is a,представляет собой
699,P1441,present in work,представлено в работе,from work,из художественного произведения
700,P828,has cause,причиной является,cause,<=
701,P1542,has effect,вызывает,effect,является причиной
702,P2737,union of,является объединением,is an association,объединение

In [4]:
a = (1,2,3,4)
(9,) + a

(9, 1, 2, 3, 4)

In [16]:
relations = relations.dropna()
relations.to_csv(path, index=False)

In [ ]:
relations = equivalence_relations.drop(relations[relations['id'] == 'P8929'].index)

In [ ]:
relations[relations['en_alias'].isnull()]

In [262]:
import numpy as np

In [274]:
n = 5
[my_list[i::n] for i in range(n)]

[[0, 5], [1, 6], [2, 7], [3, 8], [4, 9]]

In [266]:
my_list = list(range(0, 10))
np.split(np.array(my_list), 3)

ValueError: array split does not result in an equal division

In [255]:
import itertools

my_list = list(range(0, 10))
k = 0
for triple in itertools.product(my_list, repeat=3):
    print(triple)
    k += 1
    
print(k)

(0, 0, 0)
(0, 0, 1)
(0, 0, 2)
(0, 0, 3)
(0, 0, 4)
(0, 0, 5)
(0, 0, 6)
(0, 0, 7)
(0, 0, 8)
(0, 0, 9)
(0, 1, 0)
(0, 1, 1)
(0, 1, 2)
(0, 1, 3)
(0, 1, 4)
(0, 1, 5)
(0, 1, 6)
(0, 1, 7)
(0, 1, 8)
(0, 1, 9)
(0, 2, 0)
(0, 2, 1)
(0, 2, 2)
(0, 2, 3)
(0, 2, 4)
(0, 2, 5)
(0, 2, 6)
(0, 2, 7)
(0, 2, 8)
(0, 2, 9)
(0, 3, 0)
(0, 3, 1)
(0, 3, 2)
(0, 3, 3)
(0, 3, 4)
(0, 3, 5)
(0, 3, 6)
(0, 3, 7)
(0, 3, 8)
(0, 3, 9)
(0, 4, 0)
(0, 4, 1)
(0, 4, 2)
(0, 4, 3)
(0, 4, 4)
(0, 4, 5)
(0, 4, 6)
(0, 4, 7)
(0, 4, 8)
(0, 4, 9)
(0, 5, 0)
(0, 5, 1)
(0, 5, 2)
(0, 5, 3)
(0, 5, 4)
(0, 5, 5)
(0, 5, 6)
(0, 5, 7)
(0, 5, 8)
(0, 5, 9)
(0, 6, 0)
(0, 6, 1)
(0, 6, 2)
(0, 6, 3)
(0, 6, 4)
(0, 6, 5)
(0, 6, 6)
(0, 6, 7)
(0, 6, 8)
(0, 6, 9)
(0, 7, 0)
(0, 7, 1)
(0, 7, 2)
(0, 7, 3)
(0, 7, 4)
(0, 7, 5)
(0, 7, 6)
(0, 7, 7)
(0, 7, 8)
(0, 7, 9)
(0, 8, 0)
(0, 8, 1)
(0, 8, 2)
(0, 8, 3)
(0, 8, 4)
(0, 8, 5)
(0, 8, 6)
(0, 8, 7)
(0, 8, 8)
(0, 8, 9)
(0, 9, 0)
(0, 9, 1)
(0, 9, 2)
(0, 9, 3)
(0, 9, 4)
(0, 9, 5)
(0, 9, 6)
(0, 9, 7)
(0, 9, 8)
(0, 9, 9)
(1, 0, 0)
(1, 0, 1)
(1, 0, 2)
(1, 0, 3)
(1, 0, 4)
(1, 0, 5)
(1, 0, 6)
(1, 0, 7)
(1, 0, 8)
(1, 0, 9)
(1, 1, 0)
(1, 1, 1)
(1, 1, 2)
(1, 1, 3)
(1, 1, 4)
(1, 1, 5)
(1, 1, 6)
(1, 1, 7)
(1, 1, 8)
(1, 1, 9)
(1, 2, 0)
(1, 2, 1)
(1, 2, 2)
(1, 2, 3)
(1, 2, 4)
(1, 2, 5)
(1, 2, 6)
(1, 2, 7)
(1, 2, 8)
(1, 2, 9)
(1, 3, 0)
(1, 3, 1)
(1, 3, 2)
(1, 3, 3)
(1, 3, 4)
(1, 3, 5)
(1, 3, 6)
(1, 3, 7)
(1, 3, 8)
(1, 3, 9)
(1, 4, 0)
(1, 4, 1)
(1, 4, 2)
(1, 4, 3)
(1, 4, 4)
(1, 4, 5)
(1, 4, 6)
(1, 4, 7)
(1, 4, 8)
(1, 4, 9)
(1, 5, 0)
(1, 5, 1)
(1, 5, 2)
(1, 5, 3)
(1, 5, 4)
(1, 5, 5)
(1, 5, 6)
(1, 5, 7)
(1, 5, 8)
(1, 5, 9)
(1, 6, 0)
(1, 6, 1)
(1, 6, 2)
(1, 6, 3)
(1, 6, 4)
(1, 6, 5)
(1, 6, 6)
(1, 6, 7)
(1, 6, 8)
(1, 6, 9)
(1, 7, 0)
(1, 7, 1)
(1, 7, 2)
(1, 7, 3)
(1, 7, 4)
(1, 7, 5)
(1, 7, 6)
(1, 7, 7)
(1, 7, 8)
(1, 7, 9)
(1, 8, 0)
(1, 8, 1)
(1, 8, 2)
(1, 8, 3)
(1, 8, 4)
(1, 8, 5)
(1, 8, 6)
(1, 8, 7)
(1, 8, 8)
(1, 8, 9)
(1, 9, 0)
(1, 9, 1)
(1, 9, 2)
(1, 9, 3)
(1, 9, 4)
(1, 9, 5)
(1, 9, 6)
(1, 9, 7)
(1, 9, 8)
(1, 9, 9)
(2, 0, 0)
(2, 0, 1)
(2, 0, 2)
(2, 0, 3)
(2, 0, 4)
(2, 0, 5)
(2, 0, 6)
(2, 0, 7)
(2, 0, 8)
(2, 0, 9)
(2, 1, 0)
(2, 1, 1)
(2, 1, 2)
(2, 1, 3)
(2, 1, 4)
(2, 1, 5)
(2, 1, 6)
(2, 1, 7)
(2, 1, 8)
(2, 1, 9)
(2, 2, 0)
(2, 2, 1)
(2, 2, 2)
(2, 2, 3)
(2, 2, 4)
(2, 2, 5)
(2, 2, 6)
(2, 2, 7)
(2, 2, 8)
(2, 2, 9)
(2, 3, 0)
(2, 3, 1)
(2, 3, 2)
(2, 3, 3)
(2, 3, 4)
(2, 3, 5)
(2, 3, 6)
(2, 3, 7)
(2, 3, 8)
(2, 3, 9)
(2, 4, 0)
(2, 4, 1)
(2, 4, 2)
(2, 4, 3)
(2, 4, 4)
(2, 4, 5)
(2, 4, 6)
(2, 4, 7)
(2, 4, 8)
(2, 4, 9)
(2, 5, 0)
(2, 5, 1)
(2, 5, 2)
(2, 5, 3)
(2, 5, 4)
(2, 5, 5)
(2, 5, 6)
(2, 5, 7)
(2, 5, 8)
(2, 5, 9)
(2, 6, 0)
(2, 6, 1)
(2, 6, 2)
(2, 6, 3)
(2, 6, 4)
(2, 6, 5)
(2, 6, 6)
(2, 6, 7)
(2, 6, 8)
(2, 6, 9)
(2, 7, 0)
(2, 7, 1)
(2, 7, 2)
(2, 7, 3)
(2, 7, 4)
(2, 7, 5)
(2, 7, 6)
(2, 7, 7)
(2, 7, 8)
(2, 7, 9)
(2, 8, 0)
(2, 8, 1)
(2, 8, 2)
(2, 8, 3)
(2, 8, 4)
(2, 8, 5)
(2, 8, 6)
(2, 8, 7)
(2, 8, 8)
(2, 8, 9)
(2, 9, 0)
(2, 9, 1)
(2, 9, 2)
(2, 9, 3)
(2, 9, 4)
(2, 9, 5)
(2, 9, 6)
(2, 9, 7)
(2, 9, 8)
(2, 9, 9)
(3, 0, 0)
(3, 0, 1)
(3, 0, 2)
(3, 0, 3)
(3, 0, 4)
(3, 0, 5)
(3, 0, 6)
(3, 0, 7)
(3, 0, 8)
(3, 0, 9)
(3, 1, 0)
(3, 1, 1)
(3, 1, 2)
(3, 1, 3)
(3, 1, 4)
(3, 1, 5)
(3, 1, 6)
(3, 1, 7)
(3, 1, 8)
(3, 1, 9)
(3, 2, 0)
(3, 2, 1)
(3, 2, 2)
(3, 2, 3)
(3, 2, 4)
(3, 2, 5)
(3, 2, 6)
(3, 2, 7)
(3, 2, 8)
(3, 2, 9)
(3, 3, 0)
(3, 3, 1)
(3, 3, 2)
(3, 3, 3)
(3, 3, 4)
(3, 3, 5)
(3, 3, 6)
(3, 3, 7)
(3, 3, 8)
(3, 3, 9)
(3, 4, 0)
(3, 4, 1)
(3, 4, 2)
(3, 4, 3)
(3, 4, 4)
(3, 4, 5)
(3, 4, 6)
(3, 4, 7)
(3, 4, 8)
(3, 4, 9)
(3, 5, 0)
(3, 5, 1)
(3, 5, 2)
(3, 5, 3)
(3, 5, 4)
(3, 5, 5)
(3, 5, 6)
(3, 5, 7)
(3, 5, 8)
(3, 5, 9)
(3, 6, 0)
(3, 6, 1)
(3, 6, 2)
(3, 6, 3)
(3, 6, 4)
(3, 6, 5)
(3, 6, 6)
(3, 6, 7)
(3, 6, 8)
(3, 6, 9)
(3, 7, 0)
(3, 7, 1)
(3, 7, 2)
(3, 7, 3)
(3, 7, 4)
(3, 7, 5)
(3, 7, 6)
(3, 7, 7)
(3, 7, 8)
(3, 7, 9)
(3, 8, 0)
(3, 8, 1)
(3, 8, 2)
(3, 8, 3)
(3, 8, 4)
(3, 8, 5)
(3, 8, 6)
(3, 8, 7)
(3, 8, 8)
(3, 8, 9)
(3, 9, 0)
(3, 9, 1)
(3, 9, 2)
(3, 9, 3)
(3, 9, 4)
(3, 9, 5)
(3, 9, 6)
(3, 9, 7)
(3, 9, 8)
(3, 9, 9)
(4, 0, 0)
(4, 0, 1)
(4, 0, 2)
(4, 0, 3)
(4, 0, 4)
(4, 0, 5)
(4, 0, 6)
(4, 0, 7)
(4, 0, 8)
(4, 0, 9)
(4, 1, 0)
(4, 1, 1)
(4, 1, 2)
(4, 1, 3)
(4, 1, 4)
(4, 1, 5)
(4, 1, 6)
(4, 1, 7)
(4, 1, 8)
(4, 1, 9)
(4, 2, 0)
(4, 2, 1)
(4, 2, 2)
(4, 2, 3)
(4, 2, 4)
(4, 2, 5)
(4, 2, 6)
(4, 2, 7)
(4, 2, 8)
(4, 2, 9)
(4, 3, 0)
(4, 3, 1)
(4, 3, 2)
(4, 3, 3)
(4, 3, 4)
(4, 3, 5)
(4, 3, 6)
(4, 3, 7)
(4, 3, 8)
(4, 3, 9)
(4, 4, 0)
(4, 4, 1)
(4, 4, 2)
(4, 4, 3)
(4, 4, 4)
(4, 4, 5)
(4, 4, 6)
(4, 4, 7)
(4, 4, 8)
(4, 4, 9)
(4, 5, 0)
(4, 5, 1)
(4, 5, 2)
(4, 5, 3)
(4, 5, 4)
(4, 5, 5)
(4, 5, 6)
(4, 5, 7)
(4, 5, 8)
(4, 5, 9)
(4, 6, 0)
(4, 6, 1)
(4, 6, 2)
(4, 6, 3)
(4, 6, 4)
(4, 6, 5)
(4, 6, 6)
(4, 6, 7)
(4, 6, 8)
(4, 6, 9)
(4, 7, 0)
(4, 7, 1)
(4, 7, 2)
(4, 7, 3)
(4, 7, 4)
(4, 7, 5)
(4, 7, 6)
(4, 7, 7)
(4, 7, 8)
(4, 7, 9)
(4, 8, 0)
(4, 8, 1)
(4, 8, 2)
(4, 8, 3)
(4, 8, 4)
(4, 8, 5)
(4, 8, 6)
(4, 8, 7)
(4, 8, 8)
(4, 8, 9)
(4, 9, 0)
(4, 9, 1)
(4, 9, 2)
(4, 9, 3)
(4, 9, 4)
(4, 9, 5)
(4, 9, 6)
(4, 9, 7)
(4, 9, 8)
(4, 9, 9)
(5, 0, 0)
(5, 0, 1)
(5, 0, 2)
(5, 0, 3)
(5, 0, 4)
(5, 0, 5)
(5, 0, 6)
(5, 0, 7)
(5, 0, 8)
(5, 0, 9)
(5, 1, 0)
(5, 1, 1)
(5, 1, 2)
(5, 1, 3)
(5, 1, 4)
(5, 1, 5)
(5, 1, 6)
(5, 1, 7)
(5, 1, 8)
(5, 1, 9)
(5, 2, 0)
(5, 2, 1)
(5, 2, 2)
(5, 2, 3)
(5, 2, 4)
(5, 2, 5)
(5, 2, 6)
(5, 2, 7)
(5, 2, 8)
(5, 2, 9)
(5, 3, 0)
(5, 3, 1)
(5, 3, 2)
(5, 3, 3)
(5, 3, 4)
(5, 3, 5)
(5, 3, 6)
(5, 3, 7)
(5, 3, 8)
(5, 3, 9)
(5, 4, 0)
(5, 4, 1)
(5, 4, 2)
(5, 4, 3)
(5, 4, 4)
(5, 4, 5)
(5, 4, 6)
(5, 4, 7)
(5, 4, 8)
(5, 4, 9)
(5, 5, 0)
(5, 5, 1)
(5, 5, 2)
(5, 5, 3)
(5, 5, 4)
(5, 5, 5)
(5, 5, 6)
(5, 5, 7)
(5, 5, 8)
(5, 5, 9)
(5, 6, 0)
(5, 6, 1)
(5, 6, 2)
(5, 6, 3)
(5, 6, 4)
(5, 6, 5)
(5, 6, 6)
(5, 6, 7)
(5, 6, 8)
(5, 6, 9)
(5, 7, 0)
(5, 7, 1)
(5, 7, 2)
(5, 7, 3)
(5, 7, 4)
(5, 7, 5)
(5, 7, 6)
(5, 7, 7)
(5, 7, 8)
(5, 7, 9)
(5, 8, 0)
(5, 8, 1)
(5, 8, 2)
(5, 8, 3)
(5, 8, 4)
(5, 8, 5)
(5, 8, 6)
(5, 8, 7)
(5, 8, 8)
(5, 8, 9)
(5, 9, 0)
(5, 9, 1)
(5, 9, 2)
(5, 9, 3)
(5, 9, 4)
(5, 9, 5)
(5, 9, 6)
(5, 9, 7)
(5, 9, 8)
(5, 9, 9)
(6, 0, 0)
(6, 0, 1)
(6, 0, 2)
(6, 0, 3)
(6, 0, 4)
(6, 0, 5)
(6, 0, 6)
(6, 0, 7)
(6, 0, 8)
(6, 0, 9)
(6, 1, 0)
(6, 1, 1)
(6, 1, 2)
(6, 1, 3)
(6, 1, 4)
(6, 1, 5)
(6, 1, 6)
(6, 1, 7)
(6, 1, 8)
(6, 1, 9)
(6, 2, 0)
(6, 2, 1)
(6, 2, 2)
(6, 2, 3)
(6, 2, 4)
(6, 2, 5)
(6, 2, 6)
(6, 2, 7)
(6, 2, 8)
(6, 2, 9)
(6, 3, 0)
(6, 3, 1)
(6, 3, 2)
(6, 3, 3)
(6, 3, 4)
(6, 3, 5)
(6, 3, 6)
(6, 3, 7)
(6, 3, 8)
(6, 3, 9)
(6, 4, 0)
(6, 4, 1)
(6, 4, 2)
(6, 4, 3)
(6, 4, 4)
(6, 4, 5)
(6, 4, 6)
(6, 4, 7)
(6, 4, 8)
(6, 4, 9)
(6, 5, 0)
(6, 5, 1)
(6, 5, 2)
(6, 5, 3)
(6, 5, 4)
(6, 5, 5)
(6, 5, 6)
(6, 5, 7)
(6, 5, 8)
(6, 5, 9)
(6, 6, 0)
(6, 6, 1)
(6, 6, 2)
(6, 6, 3)
(6, 6, 4)
(6, 6, 5)
(6, 6, 6)
(6, 6, 7)
(6, 6, 8)
(6, 6, 9)
(6, 7, 0)
(6, 7, 1)
(6, 7, 2)
(6, 7, 3)
(6, 7, 4)
(6, 7, 5)
(6, 7, 6)
(6, 7, 7)
(6, 7, 8)
(6, 7, 9)
(6, 8, 0)
(6, 8, 1)
(6, 8, 2)
(6, 8, 3)
(6, 8, 4)
(6, 8, 5)
(6, 8, 6)
(6, 8, 7)
(6, 8, 8)
(6, 8, 9)
(6, 9, 0)
(6, 9, 1)
(6, 9, 2)
(6, 9, 3)
(6, 9, 4)
(6, 9, 5)
(6, 9, 6)
(6, 9, 7)
(6, 9, 8)
(6, 9, 9)
(7, 0, 0)
(7, 0, 1)
(7, 0, 2)
(7, 0, 3)
(7, 0, 4)
(7, 0, 5)
(7, 0, 6)
(7, 0, 7)
(7, 0, 8)
(7, 0, 9)
(7, 1, 0)
(7, 1, 1)
(7, 1, 2)
(7, 1, 3)
(7, 1, 4)
(7, 1, 5)
(7, 1, 6)
(7, 1, 7)
(7, 1, 8)
(7, 1, 9)
(7, 2, 0)
(7, 2, 1)
(7, 2, 2)
(7, 2, 3)
(7, 2, 4)
(7, 2, 5)
(7, 2, 6)
(7, 2, 7)
(7, 2, 8)
(7, 2, 9)
(7, 3, 0)
(7, 3, 1)
(7, 3, 2)
(7, 3, 3)
(7, 3, 4)
(7, 3, 5)
(7, 3, 6)
(7, 3, 7)
(7, 3, 8)
(7, 3, 9)
(7, 4, 0)
(7, 4, 1)
(7, 4, 2)
(7, 4, 3)
(7, 4, 4)
(7, 4, 5)
(7, 4, 6)
(7, 4, 7)
(7, 4, 8)
(7, 4, 9)
(7, 5, 0)
(7, 5, 1)
(7, 5, 2)
(7, 5, 3)
(7, 5, 4)
(7, 5, 5)
(7, 5, 6)
(7, 5, 7)
(7, 5, 8)
(7, 5, 9)
(7, 6, 0)
(7, 6, 1)
(7, 6, 2)
(7, 6, 3)
(7, 6, 4)
(7, 6, 5)
(7, 6, 6)
(7, 6, 7)
(7, 6, 8)
(7, 6, 9)
(7, 7, 0)
(7, 7, 1)
(7, 7, 2)
(7, 7, 3)
(7, 7, 4)
(7, 7, 5)
(7, 7, 6)
(7, 7, 7)
(7, 7, 8)
(7, 7, 9)
(7, 8, 0)
(7, 8, 1)
(7, 8, 2)
(7, 8, 3)
(7, 8, 4)
(7, 8, 5)
(7, 8, 6)
(7, 8, 7)
(7, 8, 8)
(7, 8, 9)
(7, 9, 0)
(7, 9, 1)
(7, 9, 2)
(7, 9, 3)
(7, 9, 4)
(7, 9, 5)
(7, 9, 6)
(7, 9, 7)
(7, 9, 8)
(7, 9, 9)
(8, 0, 0)
(8, 0, 1)
(8, 0, 2)
(8, 0, 3)
(8, 0, 4)
(8, 0, 5)
(8, 0, 6)
(8, 0, 7)
(8, 0, 8)
(8, 0, 9)
(8, 1, 0)
(8, 1, 1)
(8, 1, 2)
(8, 1, 3)
(8, 1, 4)
(8, 1, 5)
(8, 1, 6)
(8, 1, 7)
(8, 1, 8)
(8, 1, 9)
(8, 2, 0)
(8, 2, 1)
(8, 2, 2)
(8, 2, 3)
(8, 2, 4)
(8, 2, 5)
(8, 2, 6)
(8, 2, 7)
(8, 2, 8)
(8, 2, 9)
(8, 3, 0)
(8, 3, 1)
(8, 3, 2)
(8, 3, 3)
(8, 3, 4)
(8, 3, 5)
(8, 3, 6)
(8, 3, 7)
(8, 3, 8)
(8, 3, 9)
(8, 4, 0)
(8, 4, 1)
(8, 4, 2)
(8, 4, 3)
(8, 4, 4)
(8, 4, 5)
(8, 4, 6)
(8, 4, 7)
(8, 4, 8)
(8, 4, 9)
(8, 5, 0)
(8, 5, 1)
(8, 5, 2)
(8, 5, 3)
(8, 5, 4)
(8, 5, 5)
(8, 5, 6)
(8, 5, 7)
(8, 5, 8)
(8, 5, 9)
(8, 6, 0)
(8, 6, 1)
(8, 6, 2)
(8, 6, 3)
(8, 6, 4)
(8, 6, 5)
(8, 6, 6)
(8, 6, 7)
(8, 6, 8)
(8, 6, 9)
(8, 7, 0)
(8, 7, 1)
(8, 7, 2)
(8, 7, 3)
(8, 7, 4)
(8, 7, 5)
(8, 7, 6)
(8, 7, 7)
(8, 7, 8)
(8, 7, 9)
(8, 8, 0)
(8, 8, 1)
(8, 8, 2)
(8, 8, 3)
(8, 8, 4)
(8, 8, 5)
(8, 8, 6)
(8, 8, 7)
(8, 8, 8)
(8, 8, 9)
(8, 9, 0)
(8, 9, 1)
(8, 9, 2)
(8, 9, 3)
(8, 9, 4)
(8, 9, 5)
(8, 9, 6)
(8, 9, 7)
(8, 9, 8)
(8, 9, 9)
(9, 0, 0)
(9, 0, 1)
(9, 0, 2)
(9, 0, 3)
(9, 0, 4)
(9, 0, 5)
(9, 0, 6)
(9, 0, 7)
(9, 0, 8)
(9, 0, 9)
(9, 1, 0)
(9, 1, 1)
(9, 1, 2)
(9, 1, 3)
(9, 1, 4)
(9, 1, 5)
(9, 1, 6)
(9, 1, 7)
(9, 1, 8)
(9, 1, 9)
(9, 2, 0)
(9, 2, 1)
(9, 2, 2)
(9, 2, 3)
(9, 2, 4)
(9, 2, 5)
(9, 2, 6)
(9, 2, 7)
(9, 2, 8)
(9, 2, 9)
(9, 3, 0)
(9, 3, 1)
(9, 3, 2)
(9, 3, 3)
(9, 3, 4)
(9, 3, 5)
(9, 3, 6)
(9, 3, 7)
(9, 3, 8)
(9, 3, 9)
(9, 4, 0)
(9, 4, 1)
(9, 4, 2)
(9, 4, 3)
(9, 4, 4)
(9, 4, 5)
(9, 4, 6)
(9, 4, 7)
(9, 4, 8)
(9, 4, 9)
(9, 5, 0)
(9, 5, 1)
(9, 5, 2)
(9, 5, 3)
(9, 5, 4)
(9, 5, 5)
(9, 5, 6)
(9, 5, 7)
(9, 5, 8)
(9, 5, 9)
(9, 6, 0)
(9, 6, 1)
(9, 6, 2)
(9, 6, 3)
(9, 6, 4)
(9, 6, 5)
(9, 6, 6)
(9, 6, 7)
(9, 6, 8)
(9, 6, 9)
(9, 7, 0)
(9, 7, 1)
(9, 7, 2)
(9, 7, 3)
(9, 7, 4)
(9, 7, 5)
(9, 7, 6)
(9, 7, 7)
(9, 7, 8)
(9, 7, 9)
(9, 8, 0)
(9, 8, 1)
(9, 8, 2)
(9, 8, 3)
(9, 8, 4)
(9, 8, 5)
(9, 8, 6)
(9, 8, 7)
(9, 8, 8)
(9, 8, 9)
(9, 9, 0)
(9, 9, 1)
(9, 9, 2)
(9, 9, 3)
(9, 9, 4)
(9, 9, 5)
(9, 9, 6)
(9, 9, 7)
(9, 9, 8)
(9, 9, 9)
1000

In [235]:
entities = pd.read_csv('../data/entities/SingleToken/entities_languageAgnostic.csv')

In [238]:
ent = entities.sample(3)

In [242]:
list(ent['label'])

['Ole', 'Schuster', 'Verona']

In [261]:
complete_group = []

A = list(range(0, 2))
B = list(range(2, 4))
C = list(range(4, 6))

for a in A:
    for b in B:
        complete_group.append((a, 'r1', b))
    
print(len(complete_group))

for b in B:
    for c in C:
        complete_group.append((b, 'r2', c))

print(len(complete_group))
        
        
for a in A:
    for c in C:
        complete_group.append((a, 'r3', c))
        
print(len(complete_group))

print(complete_group)

4
8
12
[(0, 'r1', 2), (0, 'r1', 3), (1, 'r1', 2), (1, 'r1', 3), (2, 'r2', 4), (2, 'r2', 5), (3, 'r2', 4), (3, 'r2', 5), (0, 'r3', 4), (0, 'r3', 5), (1, 'r3', 4), (1, 'r3', 5)]

#### complete

In [4]:
relations = pd.read_json('../data/relations/negation/relations.jsonl', orient='records', lines=True)

In [6]:
relations.to_csv('../data/relations/negation/rel.csv')

In [7]:
relations_sampled = relations.sample(2 * 10)
relations_sampled

,id,en,de,es,fr,count
512,P4844,research intervention,Forschungsintervention,intervención de investigación,variable de recherche,148107
499,P3019,railway signalling system,Zugsicherungssystem,sistema de señalización ferroviaria,système de signalisation ferroviaire,109
605,P1891,signatory,Unterzeichner,signatario,signataire,17071
676,P3902,had as last meal,letzte Mahlzeit,última comida,dernier repas,72
32,P786,stipe character,Stielform,carácter del estipe,caractère du stipe,664
63,P3027,open period from,geöffnet von Zeitpunkt,abierto desde,début de la période d'ouverture,16
368,P1194,received signal type,empfangenes Signal,señal recibida,signal capté,3
642,P5323,attested in,bestätigt in,atestiguado en,attesté dans,121113
343,P264,record label,Plattenlabel,sello discográfico,label discographique,338037
770,P2652,partnership with,Geschäftsbeziehung zu,en sociedad con,en partenariat avec,3272
612,P3335,associated hazard,Gefährdung,peligro,danger sur place,71
638,P9353,does not have cause,nicht verursacht durch,no tiene como causa,n'a pas pour cause,11
131,P2715,elected in,gewählt in,electo en,élection,182
200,P803,professorship,Professur,cátedra universitaria,chaire universitaire,12294
107,P930,type of electrification,Bahnstromsystem,tipo de electrificación,type d'électrification,5558
406,P1574,exemplar of,Exemplar von,ejemplar de,exemplaire de,1726
658,P6977,review of,Rezension von,reseña sobre,compte-rendu de,9669
559,P811,academic minor,Nebenfach im Studium,especialización académica secundaria,seconde spécialité d'études,104
5,P4043,emulates,emuliert,emula,émule,345
339,P3349,designed to carry,transportiert,diseñado para transportar,conçu pour transporter,164

In [25]:
relations_sampled[::2]
relations_sampled[1::2]

,id,en,de,es,fr,count
499,P3019,railway signalling system,Zugsicherungssystem,sistema de señalización ferroviaria,système de signalisation ferroviaire,109
676,P3902,had as last meal,letzte Mahlzeit,última comida,dernier repas,72
63,P3027,open period from,geöffnet von Zeitpunkt,abierto desde,début de la période d'ouverture,16
642,P5323,attested in,bestätigt in,atestiguado en,attesté dans,121113
770,P2652,partnership with,Geschäftsbeziehung zu,en sociedad con,en partenariat avec,3272
638,P9353,does not have cause,nicht verursacht durch,no tiene como causa,n'a pas pour cause,11
200,P803,professorship,Professur,cátedra universitaria,chaire universitaire,12294
406,P1574,exemplar of,Exemplar von,ejemplar de,exemplaire de,1726
559,P811,academic minor,Nebenfach im Studium,especialización académica secundaria,seconde spécialité d'études,104
339,P3349,designed to carry,transportiert,diseñado para transportar,conçu pour transporter,164

In [29]:
relations_sampled.iloc[::2, :]

,id,en,de,es,fr,count
512,P4844,research intervention,Forschungsintervention,intervención de investigación,variable de recherche,148107
605,P1891,signatory,Unterzeichner,signatario,signataire,17071
32,P786,stipe character,Stielform,carácter del estipe,caractère du stipe,664
368,P1194,received signal type,empfangenes Signal,señal recibida,signal capté,3
343,P264,record label,Plattenlabel,sello discográfico,label discographique,338037
612,P3335,associated hazard,Gefährdung,peligro,danger sur place,71
131,P2715,elected in,gewählt in,electo en,élection,182
107,P930,type of electrification,Bahnstromsystem,tipo de electrificación,type d'électrification,5558
658,P6977,review of,Rezension von,reseña sobre,compte-rendu de,9669
5,P4043,emulates,emuliert,emula,émule,345

In [35]:
a = relations_sampled.iloc[::2, :]
b = relations_sampled.iloc[1::2, :]

test = zip(a, b)

In [ ]:
test[0].iterrows()

In [36]:
for relation1, relation2 in zip(test[0].iterrows(), test[1].iterrows()):
    idx1, rel1 = relation1
    idx2, rel2 = relation2
    print(rel1['id'])
    print(rel2['id'])

TypeError: 'zip' object is not subscriptable

In [14]:
test = set()
test.add(frozenset([2,1]))
test

{frozenset({1, 2})}

In [18]:
(1, 2) in None

TypeError: argument of type 'NoneType' is not iterable

In [17]:
import itertools
list(itertools.permutations((1, 2, 3)))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [9]:
for t, b in test:
    print(t)
    print(b)

2
3
1
2

In [31]:
from collections import defaultdict

In [2]:
d = defaultdict(lambda: dict())

In [25]:
a = ['en']
b = ['ru']

# Intersection
list(set(a) & set(b))

# Union
set(['ru', 'en']) == set(a) | set(b)

True

In [1]:
test = {'ru': [1, 2, 3], 'en':[5, 6, 7], 'pe': [0,1, 2]}

In [6]:
test_keys =  list(test.keys())

In [8]:
test[test_keys[0]]

[1, 2, 3]

In [28]:
list(range(5))

[0, 1, 2, 3, 4]

In [27]:
multilingual = True

any(e in ['zh', 'ru', 'ja'] for e in ['en', 'ja'])

True

In [21]:
if 'ru' in ['en'] + ['ja']:
    print('success')

In [8]:
a = ['en']
b = ['ru']

[i for i in ['zh', 'ja', 'ru'] if i in target_language]

['ru']

In [7]:
if [i for i in source_language if i in target_language]:
    print('success')

In [4]:
d['hello']['whatup'] = 1

In [26]:
a = list(range(100))
for i in range(10):
    print(a[i::10])
    del a[i::10]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[2, 13, 24, 35, 46, 57, 68, 79, 91]
[4, 16, 28, 41, 53, 65, 77, 89]
[6, 19, 33, 47, 61, 74, 87]
[8, 23, 38, 54, 69, 84, 98]
[11, 27, 44, 62, 78, 95]
[14, 32, 51, 71, 88]
[17, 37, 58, 81, 99]
[21, 43, 66, 92]
[25, 49, 75]

In [23]:
a[1::10]

[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]

In [16]:
250+250*10+250*20+250*50

20250

In [17]:
for i, j in enumerate([1, 10, 100]):
    print(i)

0
1
2

In [2]:
import pandas as pd

In [74]:
import torch

In [1]:
from transformers import pipeline
unmasker = pipeline('fill-mask', model='bert-base-multilingual-cased')
unmasker("Paris is capital of [MASK]")

Some weights of the model checkpoint at bert-base-multilingual-cased were not used when initializing BertForMaskedLM: ['cls.seq_relationship.weight', 'cls.seq_relationship.bias']
- This IS expected if you are initializing BertForMaskedLM from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForMaskedLM from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

[{'score': 0.4003640115261078,
  'token': 131,
  'token_str': ':',
  'sequence': 'Paris is capital of :'},
 {'score': 0.18687944114208221,
  'token': 10728,
  'token_str': 'Paris',
  'sequence': 'Paris is capital of Paris'},
 {'score': 0.07910370826721191,
  'token': 19838,
  'token_str': 'cities',
  'sequence': 'Paris is capital of cities'},
 {'score': 0.033840447664260864,
  'token': 10688,
  'token_str': 'France',
  'sequence': 'Paris is capital of France'},
 {'score': 0.0233257245272398,
  'token': 10105,
  'token_str': 'the',
  'sequence': 'Paris is capital of the'}]

In [2]:
unmasker("Paris is capital of [MASK][MASK]")

[[{'score': 0.08349356055259705,
   'token': 10688,
   'token_str': 'France',
   'sequence': '[CLS] Paris is capital of France [MASK] [SEP]'},
  {'score': 0.07430293411016464,
   'token': 10728,
   'token_str': 'Paris',
   'sequence': '[CLS] Paris is capital of Paris [MASK] [SEP]'},
  {'score': 0.06619015336036682,
   'token': 10105,
   'token_str': 'the',
   'sequence': '[CLS] Paris is capital of the [MASK] [SEP]'},
  {'score': 0.03093932382762432,
   'token': 119,
   'token_str': '.',
   'sequence': '[CLS] Paris is capital of. [MASK] [SEP]'},
  {'score': 0.030640726909041405,
   'token': 131,
   'token_str': ':',
   'sequence': '[CLS] Paris is capital of : [MASK] [SEP]'}],
 [{'score': 0.6488479971885681,
   'token': 119,
   'token_str': '.',
   'sequence': '[CLS] Paris is capital of [MASK]. [SEP]'},
  {'score': 0.07446080446243286,
   'token': 132,
   'token_str': ';',
   'sequence': '[CLS] Paris is capital of [MASK] ; [SEP]'},
  {'score': 0.052075352519750595,
   'token': 117,
   'token_str': ',',
   'sequence': '[CLS] Paris is capital of [MASK], [SEP]'},
  {'score': 0.04950135946273804,
   'token': 131,
   'token_str': ':',
   'sequence': '[CLS] Paris is capital of [MASK] : [SEP]'},
  {'score': 0.00574526796117425,
   'token': 10111,
   'token_str': 'and',
   'sequence': '[CLS] Paris is capital of [MASK] and [SEP]'}]]

In [89]:
eval_data = {'A Bruch': ['Cafe', 'Shawn'], 'Wings Bruch': ['Santiago'], 'Pike Bruch': ['Shawn'], 'Basque Bruch': ['Joy'], 'Madrid Bruch': ['Cassidy'], 'A fractura': ['Cafe'], 'Wings fractura': ['Santiago'], 'Pike fractura': ['Shawn'], 'Basque fractura': ['Joy'], 'Madrid fractura': ['Cassidy'], 'A cassure': ['Cafe'], 'Wings cassure': ['Santiago'], 'Pike cassure': ['Shawn'], 'Basque cassure': ['Joy'], 'Madrid cassure': ['Cassidy']}

In [90]:
eval_data.keys()

dict_keys(['A Bruch', 'Wings Bruch', 'Pike Bruch', 'Basque Bruch', 'Madrid Bruch', 'A fractura', 'Wings fractura', 'Pike fractura', 'Basque fractura', 'Madrid fractura', 'A cassure', 'Wings cassure', 'Pike cassure', 'Basque cassure', 'Madrid cassure'])

In [97]:
# Tokenize all keys + Remove last token of each key
key_tokens = [key_token[:-1] for key_token in tokenizer(list(eval_data.keys()))['input_ids']]
key_tokens

[[101, 138, 38508, 20591],
 [101, 31058, 38508, 20591],
 [101, 64942, 38508, 20591],
 [101, 74950, 38508, 20591],
 [101, 11727, 38508, 20591],
 [101, 138, 25038, 13495],
 [101, 31058, 25038, 13495],
 [101, 64942, 25038, 13495],
 [101, 74950, 25038, 13495],
 [101, 11727, 25038, 13495],
 [101, 138, 14989, 47394],
 [101, 31058, 14989, 47394],
 [101, 64942, 14989, 47394],
 [101, 74950, 14989, 47394],
 [101, 11727, 14989, 47394]]

In [107]:
labels = torch.tensor([[  101,   138, 38508, 20591, 68903,   102],
        [  101, 31058, 38508, 20591, 12336,   102],
        [  101, 64942, 38508, 20591, 46187,   102],
        [  101, 74950, 38508, 20591, 32718,   102],
        [  101, 11727, 38508, 20591, 76371,   102],
        [  101,   138, 25038, 13495, 68903,   102],
        [  101, 31058, 25038, 13495, 12336,   102],
        [  101, 64942, 25038, 13495, 46187,   102],
        [  101, 74950, 25038, 13495, 32718,   102],
        [  101, 11727, 25038, 13495, 76371,   102],
        [  101,   138, 14989, 47394, 68903,   102],
        [  101, 31058, 14989, 47394, 12336,   102],
        [  101, 64942, 14989, 47394, 46187,   102],
        [  101, 74950, 14989, 47394, 32718,   102],
        [  101, 11727, 14989, 47394, 76371,   102]])
labels

tensor([[  101,   138, 38508, 20591, 68903,   102],
        [  101, 31058, 38508, 20591, 12336,   102],
        [  101, 64942, 38508, 20591, 46187,   102],
        [  101, 74950, 38508, 20591, 32718,   102],
        [  101, 11727, 38508, 20591, 76371,   102],
        [  101,   138, 25038, 13495, 68903,   102],
        [  101, 31058, 25038, 13495, 12336,   102],
        [  101, 64942, 25038, 13495, 46187,   102],
        [  101, 74950, 25038, 13495, 32718,   102],
        [  101, 11727, 25038, 13495, 76371,   102],
        [  101,   138, 14989, 47394, 68903,   102],
        [  101, 31058, 14989, 47394, 12336,   102],
        [  101, 64942, 14989, 47394, 46187,   102],
        [  101, 74950, 14989, 47394, 32718,   102],
        [  101, 11727, 14989, 47394, 76371,   102]])

In [105]:
eval_dict = {}

for key in eval_data:
    
    # Tokenize keys + Remove last token of each key
    key_token = tokenizer(key)['input_ids'][:-1]

    label_token_list = tokenizer(eval_data[key])['input_ids']

    # Remove First and last token and save label token
    label_tokens = []
    for token_list in label_token_list:
        label_tokens.append(token_list[1])
    
    eval_dict[repr(key_token)] = label_tokens

eval_dict

{'[101, 138, 38508, 20591]': [68903, 46187],
 '[101, 31058, 38508, 20591]': [12336],
 '[101, 64942, 38508, 20591]': [46187],
 '[101, 74950, 38508, 20591]': [32718],
 '[101, 11727, 38508, 20591]': [76371],
 '[101, 138, 25038, 13495]': [68903],
 '[101, 31058, 25038, 13495]': [12336],
 '[101, 64942, 25038, 13495]': [46187],
 '[101, 74950, 25038, 13495]': [32718],
 '[101, 11727, 25038, 13495]': [76371],
 '[101, 138, 14989, 47394]': [68903],
 '[101, 31058, 14989, 47394]': [12336],
 '[101, 64942, 14989, 47394]': [46187],
 '[101, 74950, 14989, 47394]': [32718],
 '[101, 11727, 14989, 47394]': [76371]}

In [119]:
label

tensor([  101,   138, 38508, 20591, 68903,   102])

In [125]:
# Save labels list
labels_list = []
for label in labels:
    label_list = label.tolist()[:-2]
    k = eval_dict[repr(label_list)]
    label_list += [k, 102]
    labels_list.append(label_list)
labels_list

[[101, 138, 38508, 20591, [68903, 46187], 102],
 [101, 31058, 38508, 20591, [12336], 102],
 [101, 64942, 38508, 20591, [46187], 102],
 [101, 74950, 38508, 20591, [32718], 102],
 [101, 11727, 38508, 20591, [76371], 102],
 [101, 138, 25038, 13495, [68903], 102],
 [101, 31058, 25038, 13495, [12336], 102],
 [101, 64942, 25038, 13495, [46187], 102],
 [101, 74950, 25038, 13495, [32718], 102],
 [101, 11727, 25038, 13495, [76371], 102],
 [101, 138, 14989, 47394, [68903], 102],
 [101, 31058, 14989, 47394, [12336], 102],
 [101, 64942, 14989, 47394, [46187], 102],
 [101, 74950, 14989, 47394, [32718], 102],
 [101, 11727, 14989, 47394, [76371], 102]]

In [130]:
relation_preds = [[64581,117,   119], [64581, 10107, 13408], [64581, 13408, 10107], [64581 ,10310, 10133], [10310, 10133, 11169], [13495, 64581, 16023], [64581, 49185 ,16023], [64581, 16023, 49185], [64581, 49185, 16023], [64581, 10317, 10161], [64581,  119, 10107], [10107, 64581 ,131]]
relation_preds

[[64581, 117, 119],
 [64581, 10107, 13408],
 [64581, 13408, 10107],
 [64581, 10310, 10133],
 [10310, 10133, 11169],
 [13495, 64581, 16023],
 [64581, 49185, 16023],
 [64581, 16023, 49185],
 [64581, 49185, 16023],
 [64581, 10317, 10161],
 [64581, 119, 10107],
 [10107, 64581, 131]]

In [147]:
test = {'hi': [1,2,3], 'oh no': [9, 2], 'yes yes': [1,1,2]}

In [155]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
tokenizer = BertTokenizerFast.from_pretrained('bert-base-multilingual-cased')

In [9]:
tokenizer('Америка расследуется золото')

{'input_ids': [101, 36886, 557, 18291, 73759, 62345, 88615, 102], 'token_type_ids': [0, 0, 0, 0, 0, 0, 0, 0], 'attention_mask': [1, 1, 1, 1, 1, 1, 1, 1]}

In [10]:
tokenizer.unk_token_id

100

In [156]:
df = pd.DataFrame()

In [158]:
df['freq'] = list(range(1, 10))
df

   freq
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9

In [148]:
total_elements = sum(len(x) for x in test.values())

In [149]:
valid_keys = []
count = 0
for key in test:
    count += len(test[key])
    if 0.1*total_elements < count:
        break
    else:
        valid_keys.append(key)
        
valid_keys

[]

In [ ]:
accumulator = 0
for i, prediction in enumerate(relation_preds):
    # Top k?
    k = len(label_list[i])
    # Take top k of prediction and see if label is in it
    if relation_true_labels[i] in prediction[:(k-1)]:
        accumulator += 1
    
accuracy = accumulator/len(relation_preds)

In [37]:
line = '東京は首都です[MASK]'

inputs = tokenizer(line, return_tensors="pt")

print(tokenizer.decode(inputs["input_ids"][0]))

[CLS] 東 京 は 首 都 です [MASK] [SEP]

In [11]:
test = [1,2,3,4,5,1,1,2,9,6,5,3]

In [14]:
'Hallo ich' in 'Hallo ich bin'

True

In [12]:
from collections import defaultdict
D = defaultdict(list)
for i,item in enumerate(test):
    D[item].append(i)
D = {k:v for k,v in D.items() if len(v)>1}

In [13]:
D

{1: [0, 5, 6], 2: [1, 7], 3: [2, 11], 5: [4, 10]}

In [69]:
test = {"Date": [9,4,2], 'Test': [0,0,0], 'Hi!':[1]}

In [71]:
test.keys()

KeyError: ('Date', 'Test')

In [73]:
list(test.keys())

['Date', 'Test', 'Hi!']

In [132]:
df = pd.DataFrame(test)
df

   Date  Test
0     9     0
1     4     0
2     2     0

In [133]:
kk = df

In [142]:
df

   Date  Test  zuwen
0     9     0      7
1     4     0      7
2     2     0      7

In [134]:
kk['zuwen'] = [7,7,7]
kk

   Date  Test  zuwen
0     9     0      7
1     4     0      7
2     2     0      7

In [136]:
kk = kk.reindex(range(0,len(df)+1))

In [140]:
kk['leeeee'] = [55,55,55,55]

In [141]:
kk

   Date  Test  zuwen  leeeee
0   9.0   0.0    7.0      55
1   4.0   0.0    7.0      55
2   2.0   0.0    7.0      55
3   NaN   NaN    NaN      55

In [128]:
df = df.reindex(range(0,len(df)+1))
df

   Date  Test
0   9.0   0.0
1   4.0   0.0
2   2.0   0.0
3   NaN   NaN

In [ ]:
df.index = range(0,len(df)+1)

In [130]:
df['Date'] = [1,2,3,4]
df

   Date  Test
0     1   0.0
1     2   0.0
2     3   0.0
3     4   NaN

In [106]:
pd.concat([df, df2])

TypeError: merge() missing 1 required positional argument: 'right'

In [109]:
df1 = pd.DataFrame([[1, 2, 3]])
df2 = pd.DataFrame([[4, 5, 6, 7, 8, 9]])

pd.concat([df1, df2])

   0  1  2    3    4    5
0  1  2  3  NaN  NaN  NaN
0  4  5  6  7.0  8.0  9.0

In [83]:
df = df.set_index('Date')

      Open  Close
Date
9        0      1
4        0      1
2        0      1

In [43]:
cols = ['language','relation','entity','total', 'subject', 'object']
df = pd.DataFrame(columns=cols)

In [49]:
df2 = pd.DataFrame(["John", "Johny", None, None, None, 'Miau'], columns=cols)

TypeError: __init__() got multiple values for argument 'columns'

In [63]:
test = 'Hallo ich deine Mann bin'

In [68]:
test.split(' ', 1)[1].rsplit(' ', 1)[0]

'ich deine Mann'

In [59]:
test.split(' ')[-1]

'bin'

In [ ]:
pd.concat([df, df2])

In [33]:
test = {"entity": entity_occurences.keys(), relation: [0, 0, 0], 'relationB': [1, 1, 1]}
df = pd.DataFrame(test)

/var/folders/nv/vp93rqqx4sv5zbr4vccmpckc0000gn/T/ipykernel_84483/3125767153.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append({"language": "John", "relation":  "Johny", 'entity': 'Miau'}, ignore_index=True)

  language relation entity total subject object
0     John    Johny   Miau   NaN     NaN    NaN

In [92]:
test = pd.DataFrame()
test

Empty DataFrame
Columns: []
Index: []

In [100]:
'UserName' in test

True

In [98]:
test['kuk'] = ['Riti', 'Aadi', 'Jack']
test

  UserName   kuk
0     Riti  Riti
1     Aadi  Aadi
2     Jack  Jack

In [77]:
1 + True

2

In [72]:
t = {k: 5 for k in ['language', 'di']}

In [73]:
for i in t:
    print(i)

language
di

In [ ]:
test = dict()
test[language] = test_lang
test[relation]
test[entity_name]
test[total]
test[subject]
test[object]

In [27]:
relations = pd.read_json('../data/Knowledge/properties_w_aliases_full.json')
relations

,id,en,de,es,fr,count,en_alias,de_alias,es_alias,fr_alias,en_translate_alias,de_translate_alias,es_translate_alias,fr_translate_alias,en_subword_alias,de_subword_alias,es_subword_alias,fr_subword_alias
0,P3719,regulated by,reguliert von,regulado por,régi par,461,"[regulator, regulatory authority]",None,[regulada por],"[régie par, régulé par, régulée par, réglement...",[governed by],[regiert durch],"[regulada por, gobernado por]",[régulée par],"[by, from, governed, regulated]","[regiert, durch, geregelt]","[regulado, desde, por, gobernado]","[à partir de, pour, réglementé, par]"
1,P1704,is pollinator of,Bestäuber von,polinizador,pollinisateur de,58,"[pollinator of, pollinates]",None,None,"[pollinise, plante pollinisée]","[pollinator of, pollinator]","[Bestäuber, ist Bestäuber von]","[es polinizador de, polinizador de]","[est pollinisateur de, pollinisateur]","[of, from, pollinator]","[von, Bestäuber, ist]","[de, desde, es, polinizador]","[pollinisateur, à partir de, de, est]"
2,P3173,offers view on,bietet Sicht auf,ofrece vista a,offre une vue sur,935,"[has view of, has views of, offers view of, vi...","[Sicht auf, Aussicht]","[tiene vista a, ofrece una vista de, ofrece vi...","[offre un panorama sur, vue sur, a vue sur, jo...","[offers view to, offers a view of]","[bietet Aussicht auf, bietet einen Ausblick auf]","[ofrece ver en, ofrece una vista de]",None,"[to, view, offer, on, a, offers]","[bietet an, zu, an, ein, Ansicht, Angebot]","[seguro, oferta, en, vista, a, ofertas]","[au, pour, des offres, voir]"
3,P3085,qualifies for event,qualifiziert für Turnier,califica para el evento,qualifie pour,2770,[league this event qualifies for],None,None,[ligue à laquelle l'événement qualifie],"[qualified for tournament, qualify for the eve...","[qualifiziert sich für die Veranstaltung, sich...","[calificado para el torneo, califica para]","[se qualifier pour l'événement, qualifié pour ...","[event, qualifies, the, for, competition, qual...","[zum, Veranstaltung, qualifiziert, der]","[competencia, por, calificado, para, evento, c...","[se qualifie, la, pour, un événement, qualifié..."
4,P4646,representation of,Vorstellung von,representación de,représentation de,167,None,None,None,None,[idea of],[Repräsentation von],"[idea de, representacion de]","[idée de, la représentation de]","[representation, of, idea, from]","[von, Darstellung]","[desde, de, representación, idea]","[à partir de, de, représentation, idée]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729,P5769,editor-in-chief,Chefredakteur,redactor en jefe,responsable éditorial,2248,"[executive editor, editor in chief, lead edito...",[Chefredakteurin],"[editor en jefe, editor ejecutivo, editor jefe]","[directeur de la rédaction, directrice de la r...","[editorial manager, chief editor]",[Redaktionsleiter],"[gerente editorial, editor en jefe]","[éditeur en chef, rédacteur en chef]","[boss, editorial, editor, on, responsible]","[Boss, verantwortlich, an, Editor, redaktionell]","[editorial, responsable]","[au, éditeur, chef]"
730,P8627,closing time,Schließzeit,hora de cierre,heure de fermeture,5,[closes at],"[geschlossen um, geschlossen ab, geöffnet bis]",[cierra a],[moment de fermeture],[closure hour],[Geschäftsschluss],None,None,"[of, time, closing, from, hour]","[Schließen, von, Zeit, Stunde]","[de, hora, clausura]","[heure, à partir de, fermeture, temps]"
731,P2770,source of income,Herkunft des Einkommens,fuente de ingreso,source de revenu,494,"[income source, source of revenue, revenue sou...",[Einkommensherkunft],[fuente de renta],None,[Origin of Income],[Einkommensquelle],[Origen de los Ingresos],[Origine du revenu],"[of, from, origin, source, income, entry]","[Einkommen, von, Quelle, Eintrag]","[de, fuente, ingreso, origen]","[à partir de, de, la source, origine, le reven..."
732,P4794,season starts,Saisonstart,inicio de la temporada,début de la saison,2049,[season begins],[Saisonbeginn],[comienzo de la temporada],None,[start of the season],"[Saison beginnt, Beginn der Saison]","[inicio de temporada, comienza la temporada]","[début de saison, la saison commence]","[of, beginning, season, from, the, start]","[von, Anfang, Jahreszeit, der, beginnt]","[inicio, los, de, empieza, temporada]","[début, départs, à partir de, saison, la]"
733,P926,postsynaptic connection,postsynaptische Verbindung,conexión postsináptica,connexion postsynaptique,7,None,None,None,[connexion post-synaptique],None,[Postsynaptische Verbindung],None,None,"[link, postsynaptic, connection, Connection]","[Verbindung, postsynaptisch]","[postsináptico, Enlace, conexión]","[Connexion, lien, post-synaptique, connexion]"

In [51]:
relations

,id,en,de,es,fr,count,en_alias,de_alias,es_alias,fr_alias,en_translate_alias,de_translate_alias,es_translate_alias,fr_translate_alias,en_subword_alias,de_subword_alias,es_subword_alias,fr_subword_alias
0,P3719,regulated by,reguliert von,regulado por,régi par,461,"[regulator, regulatory authority]",None,[regulada por],"[régie par, régulé par, régulée par, réglement...",[governed by],[regiert durch],"[regulada por, gobernado por]",[régulée par],"[by, from, governed, regulated]","[regiert, durch, geregelt]","[regulado, desde, por, gobernado]","[à partir de, pour, réglementé, par]"
1,P1704,is pollinator of,Bestäuber von,polinizador,pollinisateur de,58,"[pollinator of, pollinates]",None,None,"[pollinise, plante pollinisée]","[pollinator of, pollinator]","[Bestäuber, ist Bestäuber von]","[es polinizador de, polinizador de]","[est pollinisateur de, pollinisateur]","[of, from, pollinator]","[von, Bestäuber, ist]","[de, desde, es, polinizador]","[pollinisateur, à partir de, de, est]"
2,P3173,offers view on,bietet Sicht auf,ofrece vista a,offre une vue sur,935,"[has view of, has views of, offers view of, vi...","[Sicht auf, Aussicht]","[tiene vista a, ofrece una vista de, ofrece vi...","[offre un panorama sur, vue sur, a vue sur, jo...","[offers view to, offers a view of]","[bietet Aussicht auf, bietet einen Ausblick auf]","[ofrece ver en, ofrece una vista de]",None,"[to, view, offer, on, a, offers]","[bietet an, zu, an, ein, Ansicht, Angebot]","[seguro, oferta, en, vista, a, ofertas]","[au, pour, des offres, voir]"
3,P3085,qualifies for event,qualifiziert für Turnier,califica para el evento,qualifie pour,2770,[league this event qualifies for],None,None,[ligue à laquelle l'événement qualifie],"[qualified for tournament, qualify for the eve...","[qualifiziert sich für die Veranstaltung, sich...","[calificado para el torneo, califica para]","[se qualifier pour l'événement, qualifié pour ...","[event, qualifies, the, for, competition, qual...","[zum, Veranstaltung, qualifiziert, der]","[competencia, por, calificado, para, evento, c...","[se qualifie, la, pour, un événement, qualifié..."
4,P4646,representation of,Vorstellung von,representación de,représentation de,167,None,None,None,None,[idea of],[Repräsentation von],"[idea de, representacion de]","[idée de, la représentation de]","[representation, of, idea, from]","[von, Darstellung]","[desde, de, representación, idea]","[à partir de, de, représentation, idée]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729,P5769,editor-in-chief,Chefredakteur,redactor en jefe,responsable éditorial,2248,"[executive editor, editor in chief, lead edito...",[Chefredakteurin],"[editor en jefe, editor ejecutivo, editor jefe]","[directeur de la rédaction, directrice de la r...","[editorial manager, chief editor]",[Redaktionsleiter],"[gerente editorial, editor en jefe]","[éditeur en chef, rédacteur en chef]","[boss, editorial, editor, on, responsible]","[Boss, verantwortlich, an, Editor, redaktionell]","[editorial, responsable]","[au, éditeur, chef]"
730,P8627,closing time,Schließzeit,hora de cierre,heure de fermeture,5,[closes at],"[geschlossen um, geschlossen ab, geöffnet bis]",[cierra a],[moment de fermeture],[closure hour],[Geschäftsschluss],None,None,"[of, time, closing, from, hour]","[Schließen, von, Zeit, Stunde]","[de, hora, clausura]","[heure, à partir de, fermeture, temps]"
731,P2770,source of income,Herkunft des Einkommens,fuente de ingreso,source de revenu,494,"[income source, source of revenue, revenue sou...",[Einkommensherkunft],[fuente de renta],None,[Origin of Income],[Einkommensquelle],[Origen de los Ingresos],[Origine du revenu],"[of, from, origin, source, income, entry]","[Einkommen, von, Quelle, Eintrag]","[de, fuente, ingreso, origen]","[à partir de, de, la source, origine, le reven..."
732,P4794,season starts,Saisonstart,inicio de la temporada,début de la saison,2049,[season begins],[Saisonbeginn],[comienzo de la temporada],None,[start of the season],"[Saison beginnt, Beginn der Saison]","[inicio de temporada, comienza la temporada]","[début de saison, la saison commence]","[of, beginning, season, from, the, start]","[von, Anfang, Jahreszeit, der, beginnt]","[inicio, los, de, empieza, temporada]","[début, départs, à partir de, saison, la]"
733,P926,postsynaptic connection,postsynaptische Verbindung,conexión postsináptica,connexion postsynaptique,7,None,None,None,[connexion post-synaptique],None,[Postsynaptische Verbindung],None,None,"[link, postsynaptic, connection, Connection]","[Verbindung, postsynaptisch]","[postsináptico, Enlace, conexión]","[Connexion, lien, post-synaptique, connexion]"

In [53]:
relations[relations.en == relations.fr]

,id,en,de,es,fr,count,en_alias,de_alias,es_alias,fr_alias,en_translate_alias,de_translate_alias,es_translate_alias,fr_translate_alias,en_subword_alias,de_subword_alias,es_subword_alias,fr_subword_alias
33,P106,occupation,Tätigkeit,ocupación,occupation,9181486,"[profession, job, work, career, employment, cr...","[Beschäftigung, Beruf]","[profesión, oficio]","[métier, hobby, qualité, statut, profession, a...",[task],[Besetzung],[tarea],"[Occupation, tâche]",None,None,None,None

In [49]:
relations = relations.drop(relations[relations.en == relations.es].index)

In [55]:
relations.to_json('../data/Knowledge/properties_w_aliases_full_cleaned.json')

In [ ]:
relations.to_csv('properties.csv')

In [6]:
rels = pd.read_csv('properties.csv')
rels.to_json('properties.json')

In [7]:
reli = pd.read_json('properties.json')

In [9]:
test = reli.iterrows()
idx, r = next(test)
r['en_alias']

"['regulator', 'regulatory authority']"

In [34]:
d = dict()

In [35]:
d['de'] = ['bla', 'blaaa']

In [36]:
d['en'] = ['test', 'test2']

In [26]:
d['no'].append('hellp')

In [27]:
d

{'de': ['bla', 'hellp'], 'no': ['hellp', 'hellp']}

In [37]:
from datasets import Dataset

In [38]:
d_ds = Dataset.from_dict(d)

In [39]:
tokenizer = BertTokenizerFast.from_pretrained('bert-base-multilingual-cased')

In [43]:
d_ds.features.keys()

dict_keys(['de', 'en'])

In [48]:
def tokenize(tokenizer, dataset):

    def tokenize_fn(examples):
        result = tokenizer(examples["de"])
        return result

    # Use batched=True to activate fast multithreading!
    tokenized_ds = dataset.map(
        tokenize_fn, batched=True
    )

    return tokenized_ds

In [49]:
tokenized_d = tokenize(tokenizer, d_ds)

  0%|          | 0/1 [00:00<?, ?ba/s]

In [53]:
tokenized_d

Dataset({
    features: ['de', 'en', 'input_ids', 'token_type_ids', 'attention_mask'],
    num_rows: 2
})

In [ ]:
tokenizer(examples["sample"])

In [59]:
tokenizer.encode('Hi', add_special_tokens=False)

[20065]

In [67]:
{'de': d['de']}

{'de': ['bla', 'blaaa']}

In [90]:
def flatten_dict(dict2):
    for key in dict2.keys():
        values = []
        for key2 in dict2[key].keys():
            values = values + dict2[key][key2]
        dict2[key] = values
    return dict2

In [91]:
flatten_dict(test)

{'de': [1, 2, 3, 4, 3, 4, 5, 6]}

In [92]:
import pandas as pd

In [87]:
test = {'de': {'r1': [1,2,3,4], 'r2': [3,4,5,6]}, 'en': {'r1': [3,4,5,6], 'kk': [0,0,0,0]}}

In [88]:
test

{'de': {'r1': [1, 2, 3, 4], 'r2': [3, 4, 5, 6]},
 'en': {'r1': [3, 4, 5, 6], 'kk': [0, 0, 0, 0]}}

In [89]:
test_df = pd.DataFrame(test)

In [90]:
test_df

              de            en
r1  [1, 2, 3, 4]  [3, 4, 5, 6]
r2  [3, 4, 5, 6]           NaN
kk           NaN  [0, 0, 0, 0]

In [ ]:
# Create dict of empty lists to collect entity accuracy information
entity_accuracy = {k: [] for k in ['language', 'relation', 'entity', 'correct_subject', 'correct_object']}

In [ ]:
for entity, entity_dict in entity_occurences:
entity_accuracy['language'].append(test_lang)
entity_accuracy['relation'].append(relation[test_lang])
entity_accuracy['entity'].append(entity)
entity_accuracy['correct_subject'].append(entity_dict['subject'])
entity_accuracy['correct_object'].append(entity_dict['object'])